<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
<div id="into-parralax">
    <div id="intro-content">
    <h1 style="color:#ffc107" >Knowlege Sharing 
        <br>and Community</h1>
    <h2 class="white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nihil dicta voluptatibus corporis, 
        repudiandae voluptatum excepturi facere s</h2>
<div class="container-fluid">
        <br><br><a href="#" class="btn btn-warning btn-lg" style="padding:20px; font-size: 15px;font-weight: bold">Sign Up</a>
        &nbsp;  &nbsp;
        <a href="#" class="btn btn-warning btn-lg" style="padding:20px; font-size: 15px; font-weight: bold">Sign In</a>
    </div>
    </div>
    
</div> 



         
<div class="container-fluid text-center" id="sec-part">
    <h2>SERVICES</h2>
    <h4>What we offer</h4>
    <br>
    <div class="row">
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-comment logo-small"></span>
            <h3>Q and A</h3>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
        <div class="col-sm-4 services">
                <span class="glyphicon glyphicon-certificate logo-small"></span>
                <h3>TRUSTED CONTENT</h3>
                <p>Lorem ipsum dolor sit amet..</p>
            </div>
        <div class="col-sm-4 services">
            <span class="glyphicon glyphicon-file logo-small"></span>
            <h3>RESEARCH PAPERS</h3>
            <p>Lorem ipsum dolor sit amet..</p>
        </div>
    </div>
    <br><br>
    
</div>
<div id="third-part">
   
        <div class="third-content" style="height:60vh;width:50%;background-color: rgb(206, 189, 135); float:left">
<p>knklsfnglksldfmgl</p>
        </div>
        <div class="third-content">
            <img src="../../assets/images/raising-hands.jpg" style="height:60vh;width:50% ">


        </div>
        <div class="forth-part">

        </div>

        <div class="fifth-part-parallax">

        </div>
    
</div>